In [4]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [5]:
# I have made a copy of the data without log transform in the last exercise to apply the normalization to the original data.
customer_marketing_data = pd.read_csv('numerical_data_log.csv')

In [6]:
target = 'Total Claim Amount_log'

y = customer_marketing_data[target]
X = customer_marketing_data.drop(columns = [target])

In [7]:
transformer = StandardScaler()
x_transformed = transformer.fit_transform(X)
x_transformed = pd.DataFrame(data = x_transformed, columns = X.columns)

In [8]:
x_transformed

      Income_log  Customer Lifetime Value_log  Monthly Premium Auto_log
0       0.517453                    -1.262556                 -0.805949
1       0.000000                     0.156500                  0.197943
2       0.213513                     1.095826                  0.648726
3       0.000000                     0.296160                  0.588035
4      -0.012775                    -1.234997                 -0.622978
...          ...                          ...                       ...
9129    1.038842                     2.009832                 -0.622978
9130   -1.514822                    -1.088297                 -0.366514
9131    0.000000                     0.396571                 -0.128832
9132   -1.481964                     0.271642                  0.266301
9133    0.000000                    -1.349021                 -0.449771

[9134 rows x 3 columns]

In [11]:
x_transformed.to_csv('numerical_data_log_norm.csv')