In [5]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [8]:
# I have made a copy of the data without log transform in the last exercise to apply the normalization to the original data.
customer_marketing_data = pd.read_csv('customer_marketing_data_cleaned.csv').drop(columns = ['Unnamed: 0'])

In [10]:
target = 'Total Claim Amount'

y = customer_marketing_data[target]
X = customer_marketing_data.drop(columns = [target])

In [13]:
transformer = StandardScaler()
x_transformed = transformer.fit_transform(X)
x_transformed = pd.DataFrame(data = x_transformed, columns = X.columns)

In [14]:
x_transformed

        Income  Customer Lifetime Value  Monthly Premium Auto
0     0.612827                -0.762878             -0.703925
1    -1.239617                -0.149245              0.022691
2     0.365710                 0.710636              0.429596
3    -1.239617                -0.052263              0.371467
4     0.203390                -0.755575             -0.587666
...        ...                      ...                   ...
9129  1.128558                 2.241590             -0.587666
9130 -0.528450                -0.714411             -0.413278
9131 -1.239617                 0.023135             -0.238891
9132 -0.517356                -0.069935              0.080820
9133 -1.239617                -0.784955             -0.471408

[9134 rows x 3 columns]